In [1]:
# Import necessary libraries
import pandas as pd

# Function to load and inspect NEISS main data files
def load_neiss_files(years):
    neiss_data = {}
    
    # Load each NEISS file into a dictionary where the key is the year
    for year in years:
        file_path = f'NEISS_{year}.csv'
        data = pd.read_csv(file_path)
        neiss_data[year] = data
        print(f"Loaded NEISS data for year {year}. Shape: {data.shape}")
    
    return neiss_data

# Function to inspect the structure and summary of the NEISS data
def inspect_neiss_data(neiss_data):
    for year, data in neiss_data.items():
        print(f"### Inspection for NEISS {year} ###")
        # Show basic information about the data
        print(data.info())
        print("\nFirst few rows:\n", data.head())
        print("\nMissing values per column:\n", data.isnull().sum())
        print("="*50)

# Step 1: List of years to process
years = list(range(2014, 2024))  # NEISS files from 2014 to 2023

# Step 2: Load the NEISS files
neiss_data = load_neiss_files(years)

# Step 3: Inspect the NEISS data
inspect_neiss_data(neiss_data)

Loaded NEISS data for year 2014. Shape: (367492, 25)
Loaded NEISS data for year 2015. Shape: (359129, 25)
Loaded NEISS data for year 2016. Shape: (375196, 25)
Loaded NEISS data for year 2017. Shape: (386906, 25)
Loaded NEISS data for year 2018. Shape: (361667, 25)
Loaded NEISS data for year 2019. Shape: (358715, 25)
Loaded NEISS data for year 2020. Shape: (309370, 25)
Loaded NEISS data for year 2021. Shape: (340442, 25)
Loaded NEISS data for year 2022. Shape: (323343, 25)
Loaded NEISS data for year 2023. Shape: (338262, 25)
### Inspection for NEISS 2014 ###
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 367492 entries, 0 to 367491
Data columns (total 25 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   CPSC_Case_Number   367492 non-null  int64
 1   Treatment_Date     367492 non-null  object
 2   Age                367492 non-null  int64
 3   Sex                367492 non-null  int64
 4   Race               367492 non-null  int64
 5   Other_Race         25053 non-null   object
 6   Hispanic           0 non-null       float64
 7   Body_Part          367492 non-null  int64
 8   Diagnosis          367492 non-null  int64
 9   Other_Diagnosis    47956 non-null   object
 10  Body_Part_2        0 non-null       float64
 11  Diagnosis_2        0 non-null       float64
 12  Other_Diagnosis_2  0 non-null       float64
 13  Disposition        367492 non-null  int64
 14  Location           367492 non-null  int64
 15  Fire_Involvement   367492 non-null  int64
 16  Product_1          367492 non-null  int64
 17  Product_2          367492 non-null  int64
 18  Product_3          367492 non-null  int64
 19  Alcohol            0 non-null       float64
 20  Drug               0 non-null       float64
 21  Narrative          367492 non-null  object
 22  Stratum            367492 non-null  object
 23  PSU                367492 non-null  int64
 24  Weight             367492 non-null  float64
dtypes: float64(7), int64(13), object(5)
memory usage: 70.1+ MB
None

First few rows:
    CPSC_Case_Number Treatment_Date  Age  Sex  Race Other_Race  Hispanic  \
0         140103999     2014-01-01   32    1     1        NaN       NaN
1         140104001     2014-01-01   18    1     1        NaN       NaN
2         140104003     2014-01-01   31    2     1        NaN       NaN
3         140104670     2014-01-01   53    2     1        NaN       NaN
4         140104672     2014-01-01   23    1     1        NaN       NaN

   Body_Part  Diagnosis Other_Diagnosis  ...  Fire_Involvement  Product_1  \
0         31         53             NaN  ...                 0       1211
1         82         51             NaN  ...                 2        910
2         37         64             NaN  ...                 0       1807
3         82         59             NaN  ...                 0        478
4         30         57             NaN  ...                 0       3286

   Product_2  Product_3  Alcohol  Drug  \
0          0          0      NaN   NaN
1          0          0      NaN   NaN
2          0          0      NaN   NaN
3          0          0      NaN   NaN
4          0          0      NaN   NaN

                                           Narrative  Stratum  PSU   Weight
0  32 YOM CO PAIN IN THE CHEST AFTER FALLING WHIL...        S   98  80.0213
1  18 YOM BURNED LT HAND WHILE POURING GASOLINE O...        S   98  80.0213
2  31 YOF STATES SHE FELL THROUGH THE BATHROOM FL...        S   98  80.0213
3  53YOF WASHING DISHES AT HOME, A GLASS BROKE AN...        S   29  80.0213
4  23YOM RIDING AN ATV, ROLLED OVER, HURT SHOULDE...        S   29  80.0213

[5 rows x 25 columns]

Missing values per column:
 CPSC_Case_Number          0
Treatment_Date            0
Age                       0
Sex                       0
Race                      0
Other_Race           342439
Hispanic             367492
Body_Part                 0
Diagnosis                 0
Other_Diagnosis      319536
Body_Part_2          367492
Diagnosis_2          367492
Other_Diagnosis_2    367492
Disposition               0
Location                  0
Fire_Involvement          0
Product_1                 0
Product_2                 0
Product_3                 0
Alcohol              367492
Drug                 367492
Narrative                 0
Stratum                   0
PSU                       0
Weight                    0
dtype: int64
==================================================
### Inspection for NEISS 2015 ###
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 359129 entries, 0 to 359128
Data columns (total 25 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   CPSC_Case_Number   359129 non-null  int64
 1   Treatment_Date     359129 non-null  object
 2   Age                359129 non-null  int64
 3   Sex                359129 non-null  int64
 4   Race               359129 non-null  int64
 5   Other_Race         20429 non-null   object
 6   Hispanic           0 non-null       float64
 7   Body_Part          359129 non-null  int64
 8   Diagnosis          359129 non-null  int64
 9   Other_Diagnosis    46723 non-null   object
 10  Body_Part_2        0 non-null       float64
 11  Diagnosis_2        0 non-null       float64
 12  Other_Diagnosis_2  0 non-null       float64
 13  Disposition        359129 non-null  int64
 14  Location           359129 non-null  int64
 15  Fire_Involvement   359129 non-null  int64
 16  Product_1          359129 non-null  int64
 17  Product_2          359129 non-null  int64
 18  Product_3          359129 non-null  int64
 19  Alcohol            0 non-null       float64
 20  Drug               0 non-null       float64
 21  Narrative          359129 non-null  object
 22  Stratum            359129 non-null  object
 23  PSU                359129 non-null  int64
 24  Weight             359129 non-null  float64
dtypes: float64(7), int64(13), object(5)
memory usage: 68.5+ MB
None

First few rows:
    CPSC_Case_Number Treatment_Date  Age  Sex  Race Other_Race  Hispanic  \
0         150103216     2015-01-01    2    2     1        NaN       NaN
1         150103217     2015-01-02   98    1     1        NaN       NaN
2         150103219     2015-01-03   47    2     1        NaN       NaN
3         150103220     2015-01-03   32    2     1        NaN       NaN
4         150103861     2015-01-03   26    1     1        NaN       NaN

   Body_Part  Diagnosis Other_Diagnosis  ...  Fire_Involvement  Product_1  \
0         76         53             NaN  ...                 0       4025
1         75         59             NaN  ...                 0       1807
2         37         64             NaN  ...                 0        617
3         35         53             NaN  ...                 0       1843
4         30         71            PAIN  ...                 0       1403

   Product_2  Product_3  Alcohol  Drug  \
0          0          0      NaN   NaN
1       4076          0      NaN   NaN
2          0          0      NaN   NaN
3          0          0      NaN   NaN
4          0          0      NaN   NaN

                                           Narrative  Stratum  PSU   Weight
0  2 YOF,PT WAS CLIMBING ON A BAR STOOL WHEN IT F...        S   84  78.5926
1  98 YOM,PT IS A NURSING HOME RESISDENT, FOUND L...        S   84  78.5926
2  47 YOF, PT FELL WHILE HANGING CURTAINS AT HOME...        S   84  78.5926
3  32 YOF,PT SLIPPED AND FELL ON RAMP AT MOTHER'S...        S   84  78.5926
4  26YO M WAS USING A PICKAXE WHEN FELT POP AND P...        L   89  74.8813

[5 rows x 25 columns]

Missing values per column:
 CPSC_Case_Number          0
Treatment_Date            0
Age                       0
Sex                       0
Race                      0
Other_Race           338700
Hispanic             359129
Body_Part                 0
Diagnosis                 0
Other_Diagnosis      312406
Body_Part_2          359129
Diagnosis_2          359129
Other_Diagnosis_2    359129
Disposition               0
Location                  0
Fire_Involvement          0
Product_1                 0
Product_2                 0
Product_3                 0
Alcohol              359129
Drug                 359129
Narrative                 0
Stratum                   0
PSU                       0
Weight                    0
dtype: int64
==================================================
### Inspection for NEISS 2016 ###
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 375196 entries, 0 to 375195
Data columns (total 25 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   CPSC_Case_Number   375196 non-null  int64
 1   Treatment_Date     375196 non-null  object
 2   Age                375196 non-null  int64
 3   Sex                375196 non-null  int64
 4   Race               375196 non-null  int64
 5   Other_Race         24037 non-null   object
 6   Hispanic           0 non-null       float64
 7   Body_Part          375196 non-null  int64
 8   Diagnosis          375196 non-null  int64
 9   Other_Diagnosis    56258 non-null   object
 10  Body_Part_2        0 non-null       float64
 11  Diagnosis_2        0 non-null       float64
 12  Other_Diagnosis_2  0 non-null       float64
 13  Disposition        375196 non-null  int64
 14  Location           375196 non-null  int64
 15  Fire_Involvement   375196 non-null  int64
 16  Product_1          375196 non-null  int64
 17  Product_2          375196 non-null  int64
 18  Product_3          375196 non-null  int64
 19  Alcohol            0 non-null       float64
 20  Drug               0 non-null       float64
 21  Narrative          375196 non-null  object
 22  Stratum            375196 non-null  object
 23  PSU                375196 non-null  int64
 24  Weight             375196 non-null  float64
dtypes: float64(7), int64(13), object(5)
memory usage: 71.6+ MB
None

First few rows:
    CPSC_Case_Number Treatment_Date  Age  Sex  Race Other_Race  Hispanic  \
0         160101845     2016-01-01   92    1     0        NaN       NaN
1         160101847     2016-01-01   90    1     0        NaN       NaN
2         160101848     2016-01-01   71    2     0        NaN       NaN
3         160101852     2016-01-01   71    2     0        NaN       NaN
4         160101857     2016-01-01   57    1     0        NaN       NaN

   Body_Part  Diagnosis Other_Diagnosis  ...  Fire_Involvement  Product_1  \
0         79         57             NaN  ...                 0       1645
1         79         57             NaN  ...                 0        670
2         79         57             NaN  ...                 0       1807
3         31         64             NaN  ...                 0       1144
4         83         59             NaN  ...                 0        464

   Product_2  Product_3  Alcohol  Drug  \
0       1807          0      NaN   NaN
1          0          0      NaN   NaN
2          0          0      NaN   NaN
3          0          0      NaN   NaN
4          0          0      NaN   NaN

                                           Narrative  Stratum  PSU    Weight
0  92YOM TRYINGO TO TAKE OFF PANTS AND LOST BALAN...        M   63  103.2251
1  90YOM FELL GETTING OUT OF A RECLINER CHAIR AND...        M   63  103.2251
2  71YOF SLIPPED AND FELL TO HER WET KITCHEN FLOO...        M   63  103.2251
3  71YOF CARRYING A 50 POUND BAG AND STRAINED CHE...        M   63  103.2251
4  57YOM DROPPED A KNIFE ONTO LEFT FOOT LACERATIO...        M   63  103.2251

[5 rows x 25 columns]

Missing values per column:
 CPSC_Case_Number          0
Treatment_Date            0
Age                       0
Sex                       0
Race                      0
Other_Race           351159
Hispanic             375196
Body_Part                 0
Diagnosis                 0
Other_Diagnosis      318938
Body_Part_2          375196
Diagnosis_2          375196
Other_Diagnosis_2    375196
Disposition               0
Location                  0
Fire_Involvement          0
Product_1                 0
Product_2                 0
Product_3                 0
Alcohol              375196
Drug                 375196
Narrative                 0
Stratum                   0
PSU                       0
Weight                    0
dtype: int64
==================================================
### Inspection for NEISS 2017 ###
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 386906 entries, 0 to 386905
Data columns (total 25 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   CPSC_Case_Number   386906 non-null  int64
 1   Treatment_Date     386906 non-null  object
 2   Age                386906 non-null  int64
 3   Sex                386906 non-null  int64
 4   Race               386906 non-null  int64
 5   Other_Race         24558 non-null   object
 6   Hispanic           0 non-null       float64
 7   Body_Part          386906 non-null  int64
 8   Diagnosis          386906 non-null  int64
 9   Other_Diagnosis    64073 non-null   object
 10  Body_Part_2        0 non-null       float64
 11  Diagnosis_2        0 non-null       float64
 12  Other_Diagnosis_2  0 non-null       float64
 13  Disposition        386906 non-null  int64
 14  Location           386906 non-null  int64
 15  Fire_Involvement   386906 non-null  int64
 16  Product_1          386906 non-null  int64
 17  Product_2          386906 non-null  int64
 18  Product_3          386906 non-null  int64
 19  Alcohol            0 non-null       float64
 20  Drug               0 non-null       float64
 21  Narrative          386906 non-null  object
 22  Stratum            386906 non-null  object
 23  PSU                386906 non-null  int64
 24  Weight             386906 non-null  float64
dtypes: float64(7), int64(13), object(5)
memory usage: 73.8+ MB
None

First few rows:
    CPSC_Case_Number Treatment_Date  Age  Sex  Race Other_Race  Hispanic  \
0         170100733     2017-01-01   21    1     1        NaN       NaN
1         170100734     2017-01-01   71    1     1        NaN       NaN
2         170100735     2017-01-01   16    1     1        NaN       NaN
3         170100737     2017-01-01   55    2     1        NaN       NaN
4         170100740     2017-01-01   86    2     1        NaN       NaN

   Body_Part  Diagnosis Other_Diagnosis  ...  Fire_Involvement  Product_1  \
0         75         62             NaN  ...                 0       1207
1         31         53             NaN  ...                 0       1807
2         33         51             NaN  ...                 0        676
3         75         62             NaN  ...                 0        620
4         79         58             NaN  ...                 0       1646

   Product_2  Product_3  Alcohol  Drug  \
0          0          0      NaN   NaN
1          0          0      NaN   NaN
2        342          0      NaN   NaN
3          0          0      NaN   NaN
4       4056          0      NaN   NaN

                                           Narrative  Stratum  PSU   Weight
0  21YOM WAS BOXING WITH FRIEND WHILE DRINKING AN...        S   46  77.6641
1  71YOM FELL ON FLOOR IN BATHROOM. DX RIB CONTUSION        S   46  77.6641
2  16YOM TRIPPED OVER A RUG AND FELL INTO A BURNI...        S   46  77.6641
3  55YOF WAS STANDING ON A STEP STOOL AND LOST FO...        S   46  77.6641
4  86YOF GOT TANGLED IN COAT AND FELL BACKWARD ST...        S   46  77.6641

[5 rows x 25 columns]

Missing values per column:
 CPSC_Case_Number          0
Treatment_Date            0
Age                       0
Sex                       0
Race                      0
Other_Race           362348
Hispanic             386906
Body_Part                 0
Diagnosis                 0
Other_Diagnosis      322833
Body_Part_2          386906
Diagnosis_2          386906
Other_Diagnosis_2    386906
Disposition               0
Location                  0
Fire_Involvement          0
Product_1                 0
Product_2                 0
Product_3                 0
Alcohol              386906
Drug                 386906
Narrative                 0
Stratum                   0
PSU                       0
Weight                    0
dtype: int64
==================================================
### Inspection for NEISS 2018 ###
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 361667 entries, 0 to 361666
Data columns (total 25 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   CPSC_Case_Number   361667 non-null  int64
 1   Treatment_Date     361667 non-null  object
 2   Age                361667 non-null  int64
 3   Sex                361667 non-null  int64
 4   Race               361667 non-null  int64
 5   Other_Race         22894 non-null   object
 6   Hispanic           0 non-null       float64
 7   Body_Part          361667 non-null  int64
 8   Diagnosis          361667 non-null  int64
 9   Other_Diagnosis    62061 non-null   object
 10  Body_Part_2        0 non-null       float64
 11  Diagnosis_2        0 non-null       float64
 12  Other_Diagnosis_2  0 non-null       float64
 13  Disposition        361667 non-null  int64
 14  Location           361667 non-null  int64
 15  Fire_Involvement   361667 non-null  int64
 16  Product_1          361667 non-null  int64
 17  Product_2          361667 non-null  int64
 18  Product_3          361667 non-null  int64
 19  Alcohol            0 non-null       float64
 20  Drug               0 non-null       float64
 21  Narrative          361667 non-null  object
 22  Stratum            361667 non-null  object
 23  PSU                361667 non-null  int64
 24  Weight             361667 non-null  float64
dtypes: float64(7), int64(13), object(5)
memory usage: 69.0+ MB
None

First few rows:
    CPSC_Case_Number Treatment_Date  Age  Sex  Race Other_Race  Hispanic  \
0         180106119     2018-01-01   57    2     2        NaN       NaN
1         180106122     2018-01-01   70    1     1        NaN       NaN
2         180106156     2018-01-01   75    1     1        NaN       NaN
3         180106157     2018-01-01   34    1     1        NaN       NaN
4         180106178     2018-01-01   33    1     3   HISPANIC       NaN

   Body_Part  Diagnosis Other_Diagnosis  ...  Fire_Involvement  Product_1  \
0         79         53             NaN  ...                 0       4074
1         76         59             NaN  ...                 0       4057
2         75         59             NaN  ...                 0       1807
3         92         59             NaN  ...                 0        474
4         92         59             NaN  ...                 0        464

   Product_2  Product_3  Alcohol  Drug  \
0        611          0      NaN   NaN
1          0          0      NaN   NaN
2          0          0      NaN   NaN
3          0          0      NaN   NaN
4          0          0      NaN   NaN

                                           Narrative  Stratum  PSU   Weight
0  57 YO F CAREGIVER WAS BATHING PT WHEN PT SLID ...        S   71  70.9703
1  70 YO M VOMITTING AND PASSED OUT HITTING HEAD ...        S   71  70.9703
2  75YOM-SCALP LAC-FELL HITTING HEAD ON CONCRETE ...        S   11  70.9703
3  34YOM-FINGER LAC-CUT ON A BROKEN COFFEE MUG-@ ...        S   11  70.9703
4  33YOM WAS CUTTING LIMES WITH A KNIFE AND CUT L...        S   46  70.9703

[5 rows x 25 columns]

Missing values per column:
 CPSC_Case_Number          0
Treatment_Date            0
Age                       0
Sex                       0
Race                      0
Other_Race           338773
Hispanic             361667
Body_Part                 0
Diagnosis                 0
Other_Diagnosis      299606
Body_Part_2          361667
Diagnosis_2          361667
Other_Diagnosis_2    361667
Disposition               0
Location                  0
Fire_Involvement          0
Product_1                 0
Product_2                 0
Product_3                 0
Alcohol              361667
Drug                 361667
Narrative                 0
Stratum                   0